@import "./Assets/style/App.css";
@import "./Assets/style/Block.css";
@import "./Assets/style/button.css";

@font-face {
  font-family: "SAIBA";
  src: url("./Assets/fonts/SAIBA-45-Outline-\(v1.1\).otf");
}

@font-face {
  font-family: "hammer";
  src: url("./Assets/fonts/dead-hammer.ttf");
}

@font-face {
  font-family: "Wolgadeutsche";
  src: url("./Assets/fonts/7fonts.ru_mk1.ttf");
}

@font-face {
  font-family: Gilroy;
  src: url("./Assets/fonts/fonts/Gilroy-Thin.ttf");
  font-weight: 100;
}

@font-face {
  font-family: Gilroy;
  src: url("./Assets/fonts/fonts/Gilroy-UltraLight.ttf");
  font-weight: 200;
}

@font-face {
  font-family: Gilroy;
  src: url("./Assets/fonts/fonts/Gilroy-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: Gilroy;
  src: url("./Assets/fonts/fonts/Gilroy-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: Gilroy;
  src: url("./Assets/fonts/fonts/Gilroy-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: Gilroy;
  src: url("./Assets/fonts/fonts/Gilroy-Semibold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: Gilroy;
  src: url("./Assets/fonts/fonts/Gilroy-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: Gilroy;
  src: url("./Assets/fonts/fonts/Gilroy-Extrabold.ttf");
  font-weight: 800;
}

@font-face {
  font-family: Rubik;
  src: url("./Assets/fonts/fonts/Rubik-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: Rubik;
  src: url("./Assets/fonts/fonts/Rubik-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: Rubik;
  src: url("./Assets/fonts/fonts/Rubik-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: Rubik;
  src: url("./Assets/fonts/fonts/Rubik-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: Rubik;
  src: url("./Assets/fonts/fonts/Rubik-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: Rubik;
  src: url("./Assets/fonts/fonts/Rubik-ExtraBold.ttf");
  font-weight: 800;
}

.plus_I_u {
  font-family: "hammer";
}
.project {
  font-family: "Gilroy";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 90%;
  margin: 0 auto;
  max-width: 1140px;
}

body{
  background: red;
}